{% extends 'main.html' %}

{% block content %}


<div>
    {% if page == 'login' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username">

            <label for="password">Password</label>
            <input type="text" name="password" placeholder="Enter password">

            <input type="submit" value="Login">
        </form>

        <p>Don't have an account?</p>
        <a href="{% url 'registerPage' %}">Sign up</a>
    </div>

    {% else %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            
            {{form.as_p}}
            <input type="submit" value="Register">
        </form>

        <p>already signed up?</p>
        <a href="{% url 'loginPage' %}">Login</a>
        
    </div>

    {% endif %}
</div>

{% endblock content %}